.intro {
    display: flex;
    justify-content: center;  /* Center the image */
    align-items: center; /* Center the image */
    gap: 30px; /* Space between the image and the text */
}

.centered-image {
    width: auto; /* Adjust this value as per your preference */
    max-width: 100%; /* Prevents the image from overflowing its container */
}

h1 {
    color:rgb(65, 123, 146)
    justify-content center;
    text-align: center;
    font-size: 2em;
}

.socials {
    display: flex;
    gap: 20px; /* Space between each social media icon */
    justify-content: center; /* Center the icons */
}

.socials a {
    color: #333; /* default color */
    transition: color 0.3s ease; /* smooth color transition */
}

.socials a:hover {
    color: #0077b5; /* color on hover, can be changed per platform */
}

.socials a i.fa {
    font-size: 75px !important;/*Adjust this value as per your preference */
    margin-right: 35px; /* Optional: Adds some spacing between icons */
}

.socials a {
    padding: 5px;
    display: inline-block;
    transition: transform 0.3s; /* Optional: Adds a smooth scale effect on hover */
}

.socials a:hover {
    transform: scale(1.1); /* Optional: Slightly enlarges the icon when hovered */
}

:root {
    --base-color: #4b6168;
    --complementary-color: #faf3e0;
    --accent-color: #78a1a9;
    --background-color: #f5f5f5;
    --text-color: #2e2e2e;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif; /* You can choose any font you like */
    font-size: 16px;

}

.content-container {
    text-align: center; /* Optional: Aligns the text inside the container */
}

/* Navigation bar */
nav {
    background-color: var(--base-color);
    padding: 10px;
    text-align: center;
}

nav a {
    color: var(--background-color);
    text-decoration: none;
    padding: 10px;
}

.container {
    display: flex; /* or grid */
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px; 
    /* Additional grid or flex properties as needed */ 
}

p {
    font-size: 1.5em; /* Instead of say, 24px */
}

a:hover, button:hover {
    color: #ff4500;
    transition: color 0.1s ease-in-out;
}

.button {
    transition: background-color 0.1s ease;
}

.button:hover {
    background-color: #333;
}

@media (max-width: 768px) {
    /* Styles for devices with a max width of 768px */ 
}

p:nth-child(2) {
    color: rgb(6, 0, 0);
}

body {
    background: url('\\wsl.localhost\Ubuntu\home\bigcbo94\Coursework\block09\Professional Site\images\space background.jpg') no-repeat center center fixed;
}

.element {
    z-index: 1;
}

.button {
    transition: all 0.1s ease;
}

.element {
    width: calc(100% - 40px);
}

article p:first-child {
    font-weight: bold;
}